.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: linear-gradient(to left, rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url(../assets/background.jpg);
    background-size: cover;
    background-position: bottom center;
}

.hero__title {
    font-size: var(--h1-font);
    font-weight: bold;
    color: var(--white);
}

.hero__paragraph {
    font-size: 19px;
    color: var(--white);
    width: 50%;
}
