header {
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background-color: var(--green-700);
    /* padding: top/bottom left/right; */
    padding: 27px 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    text-decoration: none;
    color: rgb(240, 245, 255);
    font-weight: bold;
    font-size: 24px
}

.nav__navigation {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav__navigation li a {
    text-decoration: none;
    color: var(--white);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 15px 22px;
    transition: all .50s ease;
}

.nav__menu {
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
    cursor: pointer;
}

.nav__menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #000;
    border-radius: 0.2rem;
}

.nav__menu:hover {
    scale: 1.1;
}

