@import url(./fonts.css);

:root {
  --green-100: #6d9773;
  --green-700: #0c3a2d;
  --active-bg-color: #ffb902;
  --white: #fff;
  --black: #000;
  --h1-font: 5rem;
  --h2-font: 3rem;
  --p-font: 13px;
  --transition-normal: all 0.2 ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  width: 100%;
}

::-webkit-scrollbar-thumb {
  background-color: var(--green-700);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

/* GENERAL */
section {
  padding: 70px 17% 60px;
  height: 100vh;
}