:root {
  --green-100: #6d9773;
  --green-700: #0c3a2d;
  --active-bg-color: #ffb902;
  --white: #fff;
  --black: #000;
  --h1-font: 6rem;
  --h2-font: 3rem;
  --p-font: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: Poppins;
  src: url(./fonts/Poppins-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Poppins;
  src: url(./fonts/Poppins-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Poppins;
  src: url(./fonts/Poppins-Bold.ttf);
  font-weight: bold;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}



